body {
  font-family: "Yu Gothic", sans-serif;
  margin: 40px;
  background: #fafafa;
  color: #333;
}

h1 {
  text-align: center;
  color: #007acc;
}

h2 {
  text-align: center;
  color: #000000;
}

form {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 0 auto 30px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

ol {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 600px;
  margin: 0 auto;
}

.copy-btn {
  margin-left: 10px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 0.9em;
  color:#333;
}

.copy-btn:hover {
  background-color: #d8f3dc;
}

#p-center {
  text-align: center;
}

.tabs {
  max-width: 500px;
  margin: 10% auto;
}

.tab-list {
  display: flex;
}

.tab-item {
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  border: solid 1px skyblue;
  padding: 0.5em 1.2em;
  cursor: pointer;
}

.tab-content {
  background-color: #f5f5f5;
}

.tab-panel {
  display: none;
}

.tab-item.active {
  background-color: skyblue;
  color: #fff;
  font-weight: bold;
}

.tab-panel.active {
  display: block;
  padding: 3%;
}
.tab-panel.active h2 {
  font-size: 20px;
  font-weight: bold;
}

#report-list {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-width: 400px;
  margin: 0 auto 30px;
  list-style-type: none; /* 点を消す */
}

#report-list li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

#report-list li:last-child {
  border-bottom: none;
}

#report-list strong {
  font-size: 1.1em;
  color: #333;
}

#report-list small {
  color: #777;
}